.section-about {
    transition: transform .3s;
    position: relative;
    text-align: center;

    &__content {
        font-weight: bold;
        margin-top: 10rem;

        @include respond(tab-port) {
            margin-bottom: 4rem;
        }
    }

    &__img {
        width: 110%;
        height: 35rem;
        border-radius: 2px;
        object-fit: cover;

        @include respond(tab-port) {
            height: 28rem;
            width: 100%;
            margin-bottom: 4rem;
        }
    }

    @include respond(tab-port) {
        &__content {
            margin-top: -9rem;
        }
    }

    &__2 {
        .section-about__img {
            margin-left: -2.8rem;
        }
    }

    &__3 {
        display: none;
    }

    @include respond(tab-port) {
        &__3 {
            display: inline;
            align-items: center;

            .section-about__img {
                margin-bottom: -5rem;
            }
        }
    }

    // &__2  {
    //     // @include respond(tab-land) {
    //     //     margin-top: -7rem;
    //     // }
    // }
}

@include respond (tab-port) {
    .section-about__2 {
        display: none;
    }
}

