.reviews {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 4rem rgba(black, .1);
    background-color: white;
    border-radius: 3px;
    padding: 4rem;
    padding-left: 9rem;
    font-size: 1.6rem;
    transform: skewX(-12deg);
    
    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 6rem;
        transform: translateX(2rem) skewX(0);
    }

    @include respond(tab-land) {
        width: 100%;
        padding: 4rem;
        padding-left: 5rem;

    }

    @include respond(phone) {
        transform: translateX(3rem) skewX(0);
        font-size: 1rem;
        padding: 1rem;
        width: 100%;
        border-radius: 1px;
        box-shadow: 0 3rem 6rem rgba(black, .4);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        box-shadow: 0 3rem 6rem rgba(black, .1);


        @include respond(tab-port) {
            transform: translateX(-3rem) skewX(0);
        }

        @include respond(phone) {
            transform: translateX(-0.5rem) skewX(0);
            width: 8rem;
            height: 8rem;
        }
    }

    &__img {
        height: 100%;
    }

    &__text {
        transform: skewX(12deg);

        @include respond(tab-port) {
            transform: skewX(0);
        }

        @include respond(tab-land) {
            transform: skewX(0);
        }

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__paragraph {
        text-align: center;
        padding: 1rem;

        @include respond(phone) {
            padding: 0.5rem;
            font-size: 1rem;
            text-align: left;
        }
    }
}