.services-box {
    background-color: rgba(#f3efe6, 0.4);
    font-size: 1.5rem;
    padding: 3rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba(black, 0.15);
    transition: transform .3s;
    height: 35rem;

    &__icon {
        font-size: 6rem;
        margin-bottom: 1rem;
        display: inline-block;
        
        // background-image: linear-gradient(to right, #f3efe6);
        // -webkit-background-clip: text; 
        //  .2rem
        color: rgba($color-primary, 0.6);

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &__text {
        padding: 0.5rem;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}