#carouselExampleIndicators {
    background-color: #eeecec;
    height: 45rem;
    width: 85%;
    animation: introLoad 2s forwards;
    border-radius: 2rem;

    @include respond(tab-port) {
        height: 17rem;
    }

    .carousel-inner {
        .carousel-item {
            img {
                height: 45rem;  
                @include respond (tab-port) {
                    height: 17rem;
                }
            }
        }
    }
}

.slide {
    height: 4rem;
}