a {
    text-decoration: none;
}

.navbar {
    padding: 17px 17px;
    
    .navbar-brand {
        color: $color-primary;
        margin-left: 3rem;
        font-family: Poppins,Smooch Sans, sans-serif;
        font-weight: 600;
    }
}

.nav-item {
    font-family: Poppins,Smooch Sans, sans-serif;
    font-size: 20px;
}

.navbar-nav {
    .navbar-brand {
        color: $color-primary;
        margin-left: 1rem;
        font-family: Poppins,Smooch Sans, sans-serif;
        margin-top: -0.3rem;

        &:hover,
        &:focus {
            color: grey;
        }

    }

    .nav-item {

        .nav-link {
            color: #443c35;
            margin-right: 3rem;
            padding-left: 5rem;
            font-weight: 500;

            &:hover,
            &:focus {
                color: $color-primary;
            }
        }
    }
}
